<div class="container">
  <div class="row">
    <div class="post" *ngFor="let post of data">
      <div class="tags">
        <span class="tag tag1">{{ post.tags[0] }}</span>
        <span class="tag tag2">{{ post.tags[1] }}</span>
        <span class="tag tag3" *ngIf="post.tags[2]">{{ post.tags[2] }}</span>
      </div>
      <h2 class="title">{{ post.title }}</h2>
      <div class="bottom">
        <div class="stats">
          <div class="reactions">
            <p class="reaction">
              <span><i class="fa-regular fa-thumbs-up"></i></span>
              {{ post.reactions.likes }}
            </p>
            <p class="reaction">
              <span><i class="fa-regular fa-thumbs-down"></i></span>
              {{ post.reactions.dislikes }}
            </p>
          </div>
          <div class="views">
            <p>
              <span><i class="fa-regular fa-eye"></i></span> {{ post.views }}
            </p>
          </div>
        </div>
        <button (click)="viewPost(post.id)">show details</button>
      </div>
    </div>
  </div>
</div>
